.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.topNav .item:nth-child(even){
  background-color:transparent;
}
.bg-light {
  background-color: #d4d4d4 !important;
  color:#000;
  border-bottom: solid 2px #bcbcbc;
}
.bg-light a {
  color:#007bff;
}
.no-gutters{
  padding-left:0;
  padding-right:0;
}